aiohttp==3.8.5
aiosignal==1.3.1
appdirs==1.4.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
bentoml==1.1.6
bitsandbytes==0.39.1
blinker==1.6.2
build==1.0.3
cattrs==23.1.2
certifi==2023.7.22
charset-normalizer==3.2.0
circus==0.18.0
click==8.1.7
click-option-group==0.5.6
cloudpickle==2.2.1
coloredlogs==15.0.1
contextlib2==21.6.0
dataclasses-json==0.5.14
datasets==2.13.1
deepmerge==1.1.0
Deprecated==1.2.14
dill==0.3.6
docstring-parser==0.15
einops==0.6.1
fastcore==1.5.29
filelock==3.12.4
filetype==1.2.0
Flask==2.3.3
frozenlist==1.4.0
fs==2.4.16
fsspec==2023.6.0
ghapi==1.0.4
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
huggingface-hub==0.17.1
humanfriendly==10.0
idna==3.4
importlib-metadata==6.0.1
importlib-resources==6.0.1
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonargparse==4.24.1
langchain==0.0.288
langsmith==0.0.37
loralib==0.1.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
networkx==3.1
numexpr==2.8.6
numpy==1.25.2
openllm==0.3.4
openllm-client==0.3.4
openllm-core==0.3.4
opentelemetry-api==1.18.0
opentelemetry-instrumentation==0.39b0
opentelemetry-instrumentation-aiohttp-client==0.39b0
opentelemetry-instrumentation-asgi==0.39b0
opentelemetry-sdk==1.18.0
opentelemetry-semantic-conventions==0.39b0
opentelemetry-util-http==0.39b0
optimum==1.13.1
orjson==3.9.7
pandas==2.1.0
pathspec==0.11.2
peft @ git+https://github.com/huggingface/peft.git@42a184f7423fc0bbc102a085851a8fb6e40132ad
Pillow==10.0.0
pip-requirements-parser==32.0.1
pip-tools==7.3.0
prometheus-client==0.17.1
protobuf==4.24.3
pyarrow==13.0.0
pydantic==1.10.12
pynvml==11.5.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
python-json-logger==2.0.7
python-multipart==0.0.6
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
responses==0.18.0
rich==13.5.2
safetensors==0.3.3
schema==0.7.5
scipy==1.11.2
sentencepiece==0.1.99
simple-di==0.1.5
sniffio==1.3.0
SQLAlchemy==2.0.20
starlette==0.31.1
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tokenizers==0.13.3
torch==2.0.1
tqdm==4.66.1
transformers==4.33.1
typeshed-client==2.3.0
typing-inspect==0.9.0
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.23.2
watchfiles==0.20.0
Werkzeug==2.3.7
wrapt==1.15.0
xformers==0.0.21
xxhash==3.3.0
yarl==1.9.2
zstandard==0.19.0
